.login {
    position: relative;
    margin: auto;
    background-color: white;
    min-width: 300px;
    max-width: 350px;
    height: 350px;
    border-radius: 4px;
    padding: 20px;
    background-color: white;
    .title {
        margin: 40px 0;
        text-align: center;
        color: rgb(20, 23, 161);
        font-size: 1.3em;
        user-select: none;
    }
}
