.toolbar {
    background-color: white;
    display: flex;
    min-height: 30px;
    box-shadow: none;

    .left {
        position: absolute;
        left: 20px;
        display: flex;

        .title {
            color: rgb(34, 34, 34);
            font-size: 12px;
            user-select: none;
        }
    }

    .right {
        position: absolute;
        right: 20px;
        display: flex;

        svg {
            color: rgb(0, 0, 0);
            font-size: 20px;
            cursor: pointer;
            margin-left: 20px;

            &:hover {
                color: rgb(51, 200, 205)
            }
        }

        .accout {
            display: flex;
            align-items: center;

            p {
                font-size: 12px;
            }
        }
    }
}